*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
    font-family:'Nunito',sans-serif;
    font-weight: 400;
}
html{
 
   text-align:center;
   font-size:62.5%;
}
@keyframes animationBG{
  100% { background-position: 15% 20%;}
}

body{
  /*background-color: #E3F3FA;  */
  background-image: url(Polygon\ Luminary.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color:#2a2a2a;  
  font-family:sans-serif;
  animation: animationBG 6s infinite alternate linear;
}
p {
     word-break: break-all;
     /*width:40vw; */ 
    }
.list{
    margin-top:10vh;
    margin-bottom: 10vh;
}
.title{
  color: #ccf0ff;
  font-size: 5rem;
  text-shadow: 2px 1px 3px #8a8a8adb;
  margin-bottom: 10px;
    
}
.list-box{
    width:50vw;
    /*height:17vh; */
    box-shadow: 0.5rem 0.5rem 0.1rem #283542, 1rem 1rem 0.1rem #588DA7, 1.5rem 1.5rem 0.1rem #48556E;
    margin:auto;
    min-width:400px;
}
.box-coteiner{
    min-width:400px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.write-box{
    background-color:#fffffe;
    width:40vw;
    height: 10vh;
    display:block;
    margin:auto;
    margin-top:10px;
    border:0px;
    font-size:3.5rem;
    padding:5px;
    color:#48556E;
    min-height: 50px;

}

.arrow{
    color:#48556E;
    font-size:50px;
    display:block;
    cursor:pointer;
 }
.arrow-back{
    color:#48556E;
    font-size:50px;
    display:none;
    cursor:pointer;
}


.item-list{
  min-width:400px;
    background-color:#ffeaff;
    border:0.5px solid rgb(212, 212, 212);
   /* width:50vw;
    height: 7vh; */
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap: .5vh;
}
input::placeholder{
    color:#beb2b95e;
    font-style:italic;
}

.element{
  min-width:400px;
    width:49.9vw;
    min-height: 7vh;
    background-color: #588DA7;
    /*border:1px solid black; */
    color:#2A3D45;
    font-size:3em;
    padding:auto;
    padding-top:.8vh;
    /*display: block; */
    position:relative;
    min-height: 50px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;

}

.element-txt{
    word-break: break-all;
    width:35vw;
    text-shadow: 1px 1px 1px #2a3d45;
    color:white;
}

/*#items:nth-child(odd){
    background-color: #EF9A53;
}
*/
.close {
    margin-left:2px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px; 
    color:#fffefe;
    cursor:pointer;
  }
  
  .close:hover {
   
    color: rgb(0, 0, 0);
  } 

  .item-closed{
    display:none !important; 
  }


  
  /* Add a "checked" mark when clicked on */
  .checked {
    cursor:pointer;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.5vh 1.5vw  1.5vh 1.5vw; 
    color:#588DA7;
  }
  
  .checked:hover {
   
    color: rgb(0, 0, 0)!important;
  } 

 

  .element:hover>.checked{
    color: #fff;
  }
  
  .item-checked{
    background-color: #48556E;
    color:white;
  }
  
  /*cointeiner selectori */
  .conteinder-selector{
    min-height: 60px;
    min-width:400px;
    width:50vw;
    height: 5vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-top:.1vh solid black;
  }

  .selector{
    min-height: 30px; 
    min-width:80px;
    width:8vw;
    height: 3vh;
    background-color: #588DA7;
    border-radius: 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-size:150%;
    cursor:pointer;
  }

  .selector:hover{
    background-color: #48556E;
  }

  .selector-clear{
    cursor:pointer;
    min-height: 30px; 
    min-width:80px;
    min-width:20px;
    width:9vw;
    height: 3vh;
    color:#48556E;
    font-size:150%;
   /* background-color: #f4f4f4; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .selector-clear:hover{
    /*text-decoration: underline solid black ; */
    border:1px solid rgb(160, 156, 156);
    border-radius: 5px;
  }

  .items-left{
    
    font-size:130%;
    margin-right:.8vw;
    margin-top:6.5vh;
  }

  /*history buttom */

  .history{
    font-size:130%;
    color:#fff;
    margin-top:3vh;
    cursor:pointer;
  }

  .history:hover{
    text-decoration: #fff underline;
  }
  .history-close{
    font-size:130%;
    color:rgb(255, 255, 255);
    margin-top:3vh;
    cursor:pointer;
    display:none;
  }
  .history-close:hover{
    text-decoration: #fff  underline;
  }
  .item-on-history{
    
    color:white;
    
  }
  .down-text{
    font-size:130%;
    color:rgb(255, 255, 255);
    margin-top:1vh;
    text-shadow: 1px 1px 2px #fff;
    
    
  }